{% extends "splitwise_clone/layout.html" %} {% load custom_tags %} {% block body %}
<div class="mt-8 text-center">
  <span class="text-4xl">{{ group.icon }}</span>
  <h1 class="mt-2 text-2xl text-white">{{ group.name }}</h1>
</div>
<div class="flex p-1 mt-4 mb-6 text-center text-white bg-gray-800 rounded-lg">
  {% if section == SECTIONS.BALANCES %}
  <button id="expenses-button" data-section="expenses" class="w-1/2">
    Expenses
  </button>
  <button id="balances-button" data-section="balances" class="w-1/2 selected">
    <div class="bg-gray-600 rounded-md">Balances</div>
  </button>
  {% else %}
  <button id="expenses-button" data-section="expenses" class="w-1/2 selected">
    <div class="bg-gray-600 rounded-md">Expenses</div>
  </button>
  <button id="balances-button" data-section="balances" class="w-1/2">
    Balances
  </button>
  {% endif %}
</div>
<main>
    <section id="expenses-section" class="{{ expenses_visibility }}">
      <div class="flex justify-between text-sm text-center text-gray-300">
        <article class="px-12">
          My Expenses
          <span class="text-lg text-white">71,05 €</span>
        </article>
        <article class="px-12">
          Total Expenses
          <span class="text-lg text-white">928,72 €</span>
        </article>
      </div>
      <section id="expenses-feed" class="pb-6 mt-6">
        <ol class="flex flex-col gap-4">
          {% expenses_feed_item "30. Sep 2024" "💳" "Reimbursement" "Transfered by " "Aragó" "12,81 €" %}
          {% expenses_feed_item "22. Sep 2024" "💳" "Reimbursement" "Transfered by " "Pau" "20,69 €" %}
        </ol>
      </section>
    </section>
    <section id="balances-section" class="{{ balances_visibility }}">
      {% balance_summary "🤑" "You are owed 4,57 €" "See how Antonio and Aragó need to pay you back" %}
      <article
        class="w-full p-3 mx-auto mb-2 text-sm text-center text-blue-500 bg-gray-800 rounded-lg shadow"
      >
        View All Suggested Reimbursements
      </article>
      <section id="balances-feed" class="mt-6">
        <h3 class="text-white">Balances</h3>
        <ul class="mt-2 text-white">
          {% balances_feed_item "A" "Antonio" "-1,93 €" False %}
          {% balances_feed_item "A" "Aragó" "-9,14 €" False %}
          {% balances_feed_item "B" "Borja" "+4,57 €" True %}
        </ul>
      </section>
    </section>
    {% footer_create_button "add-expense-button" expenses_visibility "create_group" "Add Expense" %}
</main>
<script>
  const $ = (selector) => document.querySelector(selector)
  const EXPENSES = 'expenses'
  const serverSection = '{{ section }}'

  // if visited url is /, sync url section with server section
  if (!window.location.pathname.includes(serverSection)) {
    history.pushState({ section: serverSection }, "", `${window.location.pathname}/${serverSection}`)
  } else {
    // save server section to state and keep the url unchanged
    history.replaceState({ section: serverSection}, "", window.location.href)
  }

  document.querySelectorAll('button').forEach((button) => {
    button.onclick = function () {
      const section = history.state.section
      const { section: sectionClicked } = this.dataset
      if (sectionClicked !== section) {
        $(`#${section}-button`).children[0].remove()
        $(`#${section}-button`).innerText = section
        $(`#${section}-button`).classList.add('capitalize')
        $(`#${section}-button`).classList.remove('selected')

        $(`#${section}-section`).classList.remove('block')
        $(`#${section}-section`).classList.add('hidden')

        $(`#${sectionClicked}-button`).classList.add('selected')
        $(`#${sectionClicked}-button`).innerHTML = `
          <div class="capitalize bg-gray-600 rounded-md">
            ${sectionClicked}
          </div>
        `
        $(`#${sectionClicked}-section`).classList.remove('hidden')
        $(`#${sectionClicked}-section`).classList.add('block')

        $(`#add-expense-button`).classList.remove(sectionClicked === EXPENSES ? 'hidden' : 'block')
        $(`#add-expense-button`).classList.add(sectionClicked === EXPENSES ? 'block' : 'hidden')

        const basePath = window.location.pathname.split('/').slice(0, -1).join('/')
        history.pushState({ section: sectionClicked }, "", `${basePath}/${sectionClicked}`)
      }
    }
  })
</script>
{% endblock %}
