{% extends "splitwise_clone/layout.html"%} {% block body %} {% load custom_tags %}
<h2
  class="max-w-sm mx-auto mb-2 text-2xl font-semibold text-gray-900 dark:text-white"
>
  Splitwise CS50w
</h2>
<main class="flex flex-col justify-between h-[85vh]">
  <ul class="pb-36">
    {% for group in groups %}
    <article
      class="max-w-sm p-6 mx-auto mb-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="{% url 'group' group.id %}">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <div class="text-4xl">{{ group.icon }}</div>
            <h5 class="text-2xl tracking-tight text-gray-900 dark:text-white">
              {{ group.name }}
            </h5>
          </div>
          <div
            class="inline-flex items-center text-sm font-medium text-center text-white"
          >
            {% svg_icon 'right-arrow' %}
          </div>
        </div>
      </a>
    </article>
    {% endfor %}
  </ul>
  {% footer_create_button "add-group-button" "block" "create_group" "Add Splitwise" %}
</main>
{% endblock %}
