    <article
    class="flex justify-between w-full px-4 py-2 mx-auto mb-2 text-white bg-gray-800 rounded-lg shadow"
  >
    <div class="flex gap-3">
      {% if is_it_me %}
      <img src="https://i.stack.imgur.com/l60Hf.png" class="object-cover w-10 h-10 rounded-full"/>
        <div>
          <h5 class="grid place-content-center">{{ username }}</h5>
          <p class="text-xs text-gray-300">Me</p>
        </div>
      {% else %}
        <div class="grid w-10 h-10 text-xl bg-gray-600 rounded-full place-content-center">{{ char }}</div>
        <h5 class="grid place-content-center">{{ username }}</h5>
      {% endif %}
    </div>
    <span class="grid place-content-center">{{ balance }}</span>
  </article>