{% load custom_tags %}
<article
  id="view-my-reimbursements-button"
  class="flex justify-between w-full p-3 mx-auto mb-2 text-white bg-gray-800 rounded-lg shadow hover:cursor-pointer"
>
  {% if amount|decimals > 0 %}
    <div class="text-4xl">🤑</div>
    <div class="w-4/5">
        <h5>You are owed {{ amount|decimals }} €</h5>
        <p class="text-xs text-gray-300">
          {{ summary_details }}
        </p>
    </div>
  {% elif amount|decimals < 0 %}
    <div class="text-4xl">💸</div>
    <div class="w-4/5">
        <h5>You owe {{ amount|abs_value }} €</h5>
        <p class="text-xs text-gray-300">
          {{ summary_details }}
        </p>
    </div>
  {% else %}
    <div class="text-4xl">👍</div>
    <div class="w-4/5">
        <h5>All Good!</h5>
        <p class="text-xs text-gray-300">
          You don't need to balance
        </p>
    </div>
  {% endif %}
  <div
    class="inline-flex items-center text-sm font-medium text-center text-white"
  >
    {% svg_icon 'right-arrow' %}
  </div>
</article>