<input type="hidden" id="{{ dropdown_id }}-input" name="{{ input_name }}" />
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
  {{ label }}
</label>
<button
  id="{{ button_id }}"
  data-dropdown-toggle="dropdown"
  class="text-white focus:ring-2 focus:outline-none w-1/2 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-blue-500 justify-between"
  type="button"
>
  {{ default_value.alias }} (me)
  <svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"
    />
  </svg>
</button>
<div
  id="{{ dropdown_id }}"
  class="absolute z-10 hidden overflow-hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg right-6 top-7 w-44 dark:bg-gray-700"
>
  <ul
    class="text-sm text-gray-700 border border-gray-600 rounded-lg dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    {% for option in options %}
      <li
        class="block px-4 py-2 overflow-hidden border-b border-gray-600 option hover:bg-gray-600 last:border-b-0 hover:text-white"
        data-participant="{{ option.id }}"
      >
        {% if option.is_current_user %}
          {{ option.alias }} (me)          
        {% else %}
          {{ option.alias }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
