{% load custom_tags %}
<dialog id="{{ modal_id }}" class="fixed bottom-0 w-[95%] bg-gray-800 rounded-t-lg h-[96%] text-white">
  <button id="{{ close_modal_button_id }}" class="grid w-8 h-8 m-3 bg-gray-600 rounded-full place-content-center">
    {% svg_icon 'close-symbol' %}
  </button>
    <main class="flex flex-col items-center">
      <h5 class="text-center">
        {% if balance_summary.amount > 0 %}
          <p>You are Owed</p><span class="inline-block px-2 mt-1 bg-green-600 rounded-xl">{{ balance_summary.amount|decimals }} €</span>
        {% elif balance_summary.amount < 0 %}
          <p>You Owe</p><span class="inline-block px-2 mt-1 bg-red-600 rounded-xl">{{ balance_summary.amount|abs_value }} €</span>
        {% else %}
          <p>You are settled</p><span class="inline-block px-2 mt-1 bg-gray-600 rounded-xl">{{ balance_summary.amount|decimals }} €</span>
        {% endif %}
        </h5>
      <section class="w-full px-4 mt-6 reimbursements-feed">
        {% for reimbursement in my_reimbursements %}
          <article
            class="w-full px-4 py-2 mx-auto mb-2 text-center text-white bg-gray-700 rounded-lg shadow max-w-64"
          >
            <span>{{ reimbursement.sender }}</span>
              {% if reimbursement.sender == current_user_alias %}
                (me)
              {% endif %}
            <span class="text-xs text-gray-300">owes</span>
            <span>{{ reimbursement.receiver }}</span>
              {% if reimbursement.receiver == current_user_alias %}
                (me)
              {% endif %}
            <p>{{ reimbursement.amount|decimals }} €</p>
            {% reimbursement_form group_id reimbursement.amount reimbursement.sender_id reimbursement.receiver_id %}
          </article>
          {% endfor %}
          {% if suggested_reimbursements %}
            <div class="mx-auto mt-6 mb-2 max-w-64">
              <h3 class="text-white">Others</h3>
            </div>
          {% endif %}
          {% for reimbursement in suggested_reimbursements %}
            <article
              class="w-full px-4 py-2 mx-auto mb-2 text-center text-white bg-gray-700 rounded-lg shadow max-w-64"
            >
              <span>{{ reimbursement.sender }}</span>
                {% if reimbursement.sender == current_user_alias %}
                  (me)
                {% endif %}
              <span class="text-xs text-gray-300">owes</span>
              <span>{{ reimbursement.receiver }}</span>
                {% if reimbursement.receiver == current_user_alias %}
                  (me)
                {% endif %}
              <p>{{ reimbursement.amount|decimals }} €</p>
              {% reimbursement_form group_id reimbursement.amount reimbursement.sender_id reimbursement.receiver_id %}
            </article>
            {% endfor %}
      </section>
    </main>
</dialog>